---
import Layout from '../layouts/Layout.astro'
import LogoMarquee from '@/components/LogoMarquee'
import ReactIcon from '@/assets/react-icon.webp'
import NextIcon from '@/assets/next-icon.png'
---

<Layout title="ET's studio">
  <main
    class="relative flex w-full flex-col justify-center overflow-x-hidden px-[2rem] pt-8 md:h-screen md:overflow-hidden md:px-[5rem] lg:pl-[10rem]"
  >
    <!-- <p class="absolute top-1/2 right-0">
      One meme a day, keep my bad mood away.
    </p> -->
    <h3
      class="mb-10 pt-[6rem] text-center text-2xl font-bold md:pt-0 md:text-left"
    >
      Get to know me!
    </h3>
    <p class="w-full text-xs md:text-base">
      <p class="leading-6 md:w-[70%] md:min-w-[70vw]">
        I'm a skilled Frontend Developer with a master's degree in biomedical
        engineering, experienced in creating intuitive interfaces and various
        applications, including healthcare systems, facebook fanpage management
        platform and more.
      </p>
      <br />
      <p class="leading-6 md:w-[65%] md:min-w-[65vw]">
        I'm proficient in <span class="inline-block">
          <img
            src={ReactIcon}
            alt="react-icon"
            class="inline-block aspect-square h-[1rem] translate-y-[-3px]"
          />
          React.js
        </span> & <span class="inline-block">
          <img
            src={NextIcon}
            alt="next-icon"
            class="inline-block aspect-square h-[1rem] translate-y-[-3px]"
          />
          Next.js
        </span>, and also have strong background in software development,
        quality assurance, and project management.
      </p>
      <br />
      <p class="leading-6 md:w-[60%] md:min-w-[60vw]">
        I believe I'm a quick learner, team player, and excellent communicator,
        who passionate about crafting elegant, functional designs to improve
        user experience.
      </p>
    </p>
    <div
      class="absolute bottom-0 -right-1/4 hidden h-[10rem] w-full -rotate-45 md:inline-block"
    >
      <LogoMarquee client:only="react" rotate={45} />
    </div>
    <div class="h-[10rem] md:hidden">
      <LogoMarquee client:only="react" />
    </div>
  </main>
</Layout>

<style></style>
