---
import { t, changeLanguage } from 'i18next'
import { Trans } from 'astro-i18next/components'
import Layout from '../layouts/Layout.astro'
import LogoMarquee from '@/components/LogoMarquee'
import ReactIcon from '@/assets/react-icon.webp'
import NextIcon from '@/assets/next-icon.png'

changeLanguage('en')
---

<Layout title="ET's studio">
  <main
    class="relative flex w-full flex-col justify-center overflow-x-hidden px-[2rem] dark:text-brand-smoke md:h-screen md:overflow-hidden md:px-[5rem] lg:pl-[10rem]"
  >
    <div
      class="absolute -right-1/4 bottom-0 hidden h-[10rem] w-full -rotate-45 md:inline-block"
    >
      <LogoMarquee client:only="react" rotate={45} />
    </div>
    {/* meme show case */}
    <!-- <p class="absolute top-1/2 right-0">
      One meme a day, keep my bad mood away.
    </p> -->
    <h3
      class="mb-10 pt-[calc(var(--navbar-height)+2rem)] text-center text-2xl font-bold md:pt-0 md:text-left"
    >
      {t('about.title')}
    </h3>
    <p class="w-full text-xs md:text-base">
      <p class="leading-6 md:w-[70%] md:min-w-[70vw]">
        {t('about.firstParagraph')}
      </p>
      <br />
      <p class="leading-6 md:w-[65%] md:min-w-[65vw]">
        <Trans i18nKey={'about.secondParagraph'}>
          I'm proficient in <span class="inline-block">
            <img
              src={ReactIcon}
              alt="react-icon"
              class="inline-block aspect-square h-[1rem] translate-y-[-3px]"
            />
            React.js
          </span> & <span class="inline-block">
            <img
              src={NextIcon}
              alt="next-icon"
              class="inline-block aspect-square h-[1rem] translate-y-[-3px]"
            />
            Next.js
          </span>, and also have strong background in software development,
          quality assurance, and project management.
        </Trans>
      </p>
      <br />
      <p class="leading-6 md:w-[60%] md:min-w-[60vw]">
        {t('about.thirdParagraph')}
      </p>
    </p>
    <div class="h-[10rem] md:hidden">
      <LogoMarquee client:only="react" />
    </div>
  </main>
</Layout>

<style></style>
