---
import Layout from '../layouts/Layout.astro'
import ShapeMorph from '../components/ShapeMorph'
---

<Layout title="PowerDrop Studio">
  <main>
    <div class="relative ml-[50%]">
      <h1
        class="absolute top-[14rem] right-[max(-1.5rem,-1vw)] animate-breath text-right font-cursive text-[min(12rem,20vw)] leading-[min(9.5rem,20vw)]"
      >
        Ericsen
        <br />
        <span class="text-cyan-900">Tsai</span>
      </h1>
      <ShapeMorph client:only="react" ratio={1.5} shortSideSide={1000} />
    </div>
  </main>
</Layout>

<style>
  main {
    width: 100%;
    overflow: hidden;
  }
</style>
