---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'

import ShapeMorph from '../components/ShapeMorph'
---

<Layout title="Welcome to Astro.">
  <main>
    <div class="ml-[50%] relative">
      <h1
        class="font-bold absolute top-[14rem] right-[-1.5rem] text-[16rem] text-right animate-skewing leading-[9.5rem]"
      >
        Ericsen
        <br />
        <span class="text-cyan-900">Tsai</span>
      </h1>
      <ShapeMorph client:only="react" ratio={1.5} shortSideSide={1000} />
    </div>
  </main>
</Layout>

<style>
  main {
    width: 100%;
    overflow: hidden;
  }
</style>
