---
import { t, changeLanguage } from "i18next";
import { Trans } from "astro-i18next/components";
import Layout from "../layouts/Layout.astro";
import ShapeMorph from "../components/ShapeMorph";

changeLanguage("en");
---

<Layout title="ET's studio">
  <main class="relative h-screen w-full overflow-hidden">
    <div class="absolute top-0 left-0 z-10 h-full w-full px-10">
      <p class="mt-[max(15vw,10rem)] text-xl font-bold text-brand-green">
        {t('home.introPrefix')}
      </p>
      <p
        class="mt-[14rem] max-w-[90%] text-lg md:mt-[max(20vw,20rem)] md:text-xl"
      >
        <Trans i18nKey="home.introContent">
          a dedicated <span class="font-black text-brand-orange"
            >web developer</span
          >
          <br />who creates user-friendly web applications
          <br />and deliver innovative solutions.
        </Trans>
      </p>
      <div class="mt-5 flex flex-col md:mt-10 md:flex-row md:gap-3">
        <button class="group relative inline-block text-black" id="go-to-about"
          >→ {t('home.aboutMeButtonText')}
          <div
            class="absolute bottom-0 left-0 h-[1px] w-0 animate-flash bg-brand-green transition-all group-hover:w-full"
          >
          </div>&nbsp;
        </button>
        <button class="group relative inline-block text-black" id="go-to-works">
          → {t('home.worksButtonText')}<div
            class="absolute bottom-0 left-0 h-[1px] w-0 animate-flash bg-brand-green transition-all group-hover:w-full"
          >
          </div></button
        >
      </div>
    </div>
    <div class="relative z-10 ml-[50%]">
      <h1
        class="absolute top-[max(20vw,15rem)] right-[2rem] animate-breath text-right text-[min(30rem,20vw)] font-black leading-[min(9.5rem,20vw)] md:right-[min(-1.5rem,-1vw)]"
      >
        Ericsen
      </h1>
    </div>
    <div class="relative z-0 hidden md:ml-[50%] md:inline-block">
      <ShapeMorph client:only="react" ratio={1.5} shortSideSize={1000} />
    </div>
    <div class="absolute top-[5rem] left-[30%] z-0 md:hidden">
      <ShapeMorph client:only="react" ratio={1} shortSideSize={700} />
    </div>
  </main>
</Layout>

<script>
  import goToLangRoute from '@/utils/goToLangRoute'
  import type { Language } from '@/types/language'

  const goToAboutButton = document.querySelector(
    '#go-to-about'
  ) as HTMLButtonElement
  const goToWorks = document.querySelector('#go-to-works') as HTMLButtonElement

  goToAboutButton.addEventListener('click', () => {
    goToLangRoute({
      lang: document.documentElement.lang as Language,
      targetPathName: 'about',
    })
  })
  goToWorks.addEventListener('click', () => {
    goToLangRoute({
      lang: document.documentElement.lang as Language,
      targetPathName: '#',
    })
  })
</script>

<style></style>
