---
import { changeLanguage } from 'i18next'
import ProjectCarousel from '../components/ProjectCarousel'
import Layout from '../layouts/Layout.astro'

changeLanguage('en')
---

<Layout title="ET's studio">
  <main class="flex min-h-screen w-full items-center">
    <ProjectCarousel client:only="react" />
  </main>
</Layout>

<style></style>
