---
import Navbar from '../components/Navbar'
import '@fontsource/bowlby-one'
import '@fontsource/montserrat'

import i18next from 'i18next'
import { HeadHrefLangs } from 'astro-i18next/components'
export interface Props {
  title: string
}

const { title } = Astro.props
---

<!DOCTYPE html>
<html lang={i18next.language}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/logo_white.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <HeadHrefLangs />
  </head>
  <body>
    <Navbar client:only="react" />
    <slot />
    <style is:global>
      body {
        @apply bg-gradient-to-r from-teal-100 to-fuchsia-300 font-sans dark:from-purple-900 dark:to-pink-500;
      }

      :root {
        --navbar-height: 4rem;
      }

      ::selection {
        @apply bg-[#d8d8d8] text-[#1b998b];
      }
    </style>
    <script>
      if (
        localStorage.getItem('color-theme') === 'dark' ||
        (!('color-theme' in localStorage) &&
          window.matchMedia('(prefers-color-scheme: dark)').matches)
      ) {
        document.documentElement.classList.add('dark')
      } else {
        document.documentElement.classList.remove('dark')
      }
    </script>
  </body>
</html>
